:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #f7f4f4;
  --bg: #1a1a1a;
  --fg:#242424;
  --head-fot:#454ce1;
  --border:#646cff;
  --hover:#292935;
  --text:#e0dede;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  box-sizing: border-box;
  color:var(--text);
}

body {
  margin: 10px 50px;
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
  min-height: 100vh;
}

header, main, footer {
  width: 100%;
}

a{
  text-decoration: none;
}

header{
  padding: 2px 10px 4px 10px;
  background-color: var(--head-fot);
}

main{
  flex: 1; /*flex: 1 gjør at main fyller tilgjengelig plass og "dytter" footeren ned til bunnen.*/
  padding: 20px;
  background-color: var(--fg);
}

footer{
  position: relative;
  display: flex;
  background-color: var(--fg);
  justify-content:end;
  border-top: solid 2px var(--border);
  padding: 4px;
}

footer button {
width: 5vw;
}

footer p {
  position: absolute;
  margin: 0;
  left: 50%;
  transform: translate(-50%);
}
