* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    margin: 0;
}

header {
    background-color: rgb(187, 226, 255);
    border: 2px solid rgb(0, 0, 0);
}

.main-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(165, 209, 242);
    padding: 5px 10px;
}

.main-nav a {
    text-decoration: none;
    color: rgb(17, 35, 50);
    padding: 8px 15px;
    font-weight: bold;
    transition: color 0.3s;
}

.main-nav a:hover {
    color: rgb(37, 121, 218);
}

.layout-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
}

main {
    padding: 15px;
    max-width: 800px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

.form-container {
    margin: 100px 0px 80px 0px;
    font-weight: bold;
    text-align: center;
}

.form-container input {
    border: 2px solid black;
    width: 200px;
    height: 30px;
}

.form-container input, label, textarea {
    margin: 20px;
}

.submit-btn {
    border: 2px solid black;
    width: 150px;
    height: 28px;
    border-radius: 5px;
    font-weight: bold;
    background-color: rgb(255, 244, 228);
}

footer {
    text-align: center;
}

@media (max-width: 600px) {
    nav {
        flex-direction: column;
    }
    .layout-container {
        grid-template-columns: 1fr;
    }
}