:root {
  --bgX: #0e0e0e;
  --bgY: #1a1a1c;
  --border: #55481c;
  --cta: #d4af37;
  --ctaHover: #edce6a;
  --text: #6b6b78;
  --h1: #dddddd;
  --h2: #d5d5da;
  --h34: #76767d;

  --text-14: 0.875rem;
  --text-16: 1rem;
  --text-20: 1.25rem;

  --margin-hp: 0.75rem;
}

* {
  box-sizing: border-box;
}
/* body */
body {
  margin: 0;
  max-width: 100%;
  background-color: var(--bgX);
  color: var(--text);
}

h1 {
  color: var(--h1);
  background-image: linear-gradient(to right, white, #9b8d60);
  -webkit-background-clip: text;
  background-clip: text;

  -webkit-text-fill-color: transparent;

  font-size: clamp(3rem, 6.5vw, 6.2rem);
  font-weight: bold;
  margin-bottom: 2.2rem;
}
h2 {
  font-size: clamp(1.2rem, 2vw, 3rem);
  font-weight: 400;
  color: var(--h2);
}
h3 {
  color: var(--cta);
  font-size: 1.5rem;
  font-weight: 400;
  margin: var(--margin-hp);
}
h4 {
  color: var(--h2);
  font-size: 1.2rem;
  font-weight: 400;
  margin: var(--margin-hp);
}
p {
  color: var(--text);
  font-size: 1rem;
  line-height: 1.42;
  word-spacing: 1px;
  margin: var(--margin-hp);
}
a {
  color: var(--h1);
  text-decoration: none;
  font-size: var(--text-20);
  padding: 0.5rem;
}
.logo {
  font-weight: 700;
  font-size: 2.1rem;
}

/* header */
header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 4rem;
  background-color: var(--bgX);
  border-bottom: 2px solid var(--border);
  text-decoration: none;
  font-size: var(--text-20);
}

/* nav  */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 5rem;
}
/*! Husk Hover */
.nav-link {
  display: flex;
  gap: 3rem;
}

/* main  */
main {
  max-width: 1536px;
  margin-inline: auto;
}

.layout-container {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
}
/* Mobile first */
@media (min-width: 1224px) {
  .layout-container {
    flex-direction: row;
  }
}

/* content-container */
.content-container {
  flex: 1 1 auto;
  min-width: 0;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 75vh;
  padding: 1rem;
}
@media (min-width: 1224px) {
  section {
    flex-direction: row;
    max-width: 69vw;
    padding: 0;
  }
}

.section-1-left {
  max-width: fit-content;
}

.section-1-para {
  width: 100%;
  margin-top: 3.5rem;
}

.section-1-right,
.section-3-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 3rem;
}

.section-1-img,
.section-3-img {
  width: 100%;
  height: auto;
  /* margin-top: 6rem;
  padding-right: 1rem; */
}

.section-2 {
  position: relative;
  flex-direction: column;
  padding: 3rem 3rem 4rem;
}
.section-2-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-top: 3.1rem;
}
.section-2-square {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.dott {
  width: 0.65rem;
  height: 0.65rem;
  background-color: var(--cta);
  border-radius: 100%;
}

.line {
  position: absolute;
  top: 0;
  width: 2px;
  height: 80vh;
  background: radial-gradient(black, var(--border));
}

.section-3-right {
  margin-top: 2rem;
}

/* Add section  */
.add-container-desktop {
  display: none;
}

.add-container-mobile {
  display: flex;
  justify-content: center;
}

@media (min-width: 1224px) {
  .add-container-desktop {
    display: flex;
    justify-content: center;
    max-width: 21rem;
  }
  .add-container-mobile {
    display: none;
  }
}

.article-add {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 400;
  height: 100%;
  color: var(--h1);
}

.add-desktop-1,
.add-desktop-2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-image-vitamin-D,
.add-image-creatine {
  width: 75%;
  max-width: 332px;
  height: auto;
  margin: 0;
  border-radius: 2px;
}

.add-gymg {
  width: 100%;
  max-width: 1140px;
  height: auto;
  margin: 0;
  border-radius: 2px;
}

/* form  */
form {
}

/* footer  */
footer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 26rem;
  width: 100%;
  background-color: var(--bgY);
  margin-top: 4rem;
  padding-top: 2rem;
}
footer p {
  position: absolute;
  width: max-content;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.article-footer,
.footer-nav {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

@media (min-width: 1224px) {
  footer {
    display: flex;
    flex-direction: row;
    height: 16rem;
  }

  .article-footer,
  .footer-nav {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-left: 4rem;
  }
}
