* { box-sizing: border-box; }



body {
    font-family:Arial, Helvetica, sans-serif;
    color: blue ;
    background: yellow;
    text-align: center;
    
}
header {
    color: yellow;
    background: blue;
    border: 3px solid black;
    text-align: center;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 15px;
    padding: 0px;

}
.nav-link {
    text-decoration: none;
}

.nav-link:hover {
    color: white;
    font-weight: bolder;
    font-size: 25px;
}

.layout-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

@media (max-width: 600px) {
    .layout-container {
        grid-template-columns: 1fr;
    }
    ul { 
        flex-direction: column; align-items: flex-start;
     }
}
img { 
    max-width: 100%; height: auto;
 }
