* { box-sizing: border-box; }

body {
    font-family:Arial, Helvetica, sans-serif;
    color: blue ;
    background: yellow;
    margin: 0;
}
header {
    color: yellow;
    background: blue;
    border: 3px solid black;
}
