* { box-sizing: border-box; }

body {
    font-family:Arial, Helvetica, sans-serif;
    color: blue ;
    background: yellow;
    
}
header {
    color: yellow;
    background: blue;
    border: 3px solid black;
    text-align: center;
}


ul a:link {
    text-decoration: none;
}

ul a:hover {
    text-decoration: none;
    color: white;
    font-weight: bolder
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 15px;
    padding: 0px;

}
