* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    margin: 0;
}

header {
    background-color: rgb(187, 226, 255);
    border: 2px solid rgb(0, 0, 0);
}